<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/tickets
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            1A7f658ff
        </property>

        <property name="spring.jpa.hibernate.naming.physical-strategy">
            org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        </property>
        <!-- List of XML mapping files -->
       <!-- <mapping resource = "Employee.hbm.xml"/>-->
        <mapping class="entities.Customer"/>
        <mapping class="entities.Season"/>
        <mapping class="entities.SeasonTicket"/>

    </session-factory>
</hibernate-configuration>